<h1>Recap Documents Etat Civil</h1>


<ul>
  <!-- passeport exemple -->
  <li>Passport</li>
  <li>Passport conjoint</li>
  <% if current_user.child_nb > 0 %>
    <% for i in 1..(current_user.child_nb) %>
      <li>Passeport du <%= i %>er enfant </li>
    <% end %>
  <% end %>

  <!-- ID exemple -->
  <li>Carte d’Identite</li>
  <li>Carte d’Identite conjoint</li>
  <% if current_user.child_nb > 0 %>
    <% for i in 1..(current_user.child_nb) %>
      <li>Carte d'identité du <%= i %>er enfant </li>
    <% end %>
  <% end %>

  <!-- acte de naissance exemple -->
  <li>Acte de Naissance</li>
  <li>Acte de Naissance conjoint</li>
  <% if current_user.child_nb > 0 %>
    <% for i in 1..(current_user.child_nb) %>
      <li>Carte d'identité du <%= i %>er enfant </li>
    <% end %>
  <% end %>


  <!-- acte de naissance exemple -->
  <li>Livret de Famille </li>
  <li>Acte de Mariage</li>
  <% if current_user.mariage_contract == true %>

    <li>Contrat de Mariage </li>
  <% end %>
</ul>

<%= link_to "Revenir au questionnaire", etat_civil_path %>
<%= link_to "Poursuivez au questionnaire suivant", revenue_path %>

<%= simple_form_for([@divorce, @document]) do |f| %>
  <%= f.input :doc_name %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :uploaded %>
  <%= f.input :attachment %>
  <%= f.input :attachment_cache, as: :hidden %>
  <%= f.submit %>
<% end %>






