<h1>Recap Documents Etat Civil</h1>


<ul>
  <li>Passport</li>
  <li>Passport conjoint</li>
  <li>Passport enfant</li>
  <li>Carte d’Identite</li>
  <li>Carte d’Identite conjoint</li>
  <li>Carte d’Identite enfant 1 … n</li>
  <li>Acte de Naissance</li>
  <li>Acte de Naissance conjoint</li>
  <li>Acte de Naissance enfant 1 … n</li>
  <li>Livret de Famille </li>
  <li>Acte de Mariage</li>
  <li>Contrat de Mariage </li>
</ul>


<%= simple_form_for([@divorce, @document]) do |f| %>
  <%= f.input :doc_name %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :uploaded %>
  <%= f.input :attachment %>
  <%= f.input :attachment_cache, as: :hidden %>
  <%= f.submit %>
<% end %>






