<p>Salut c'est l'etat civil qui démarre</p>




<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1>Aller on attaque avec la partie etat civil</h1>

        <%= simple_form_for current_user, :url => update_etat_civil_path, :method => :patch do |f| %>
          <%= f.input :gender  %>
          <%= f.input :child_nb %>
          <%= f.input :status_pro  %>
          <%= f.input :bank_account_nb %>
          <%= f.input :credit_nb  %>
          <%= f.input :insurance_nb  %>
          <%= f.input :vehicle_nb  %>
          <%= f.submit "Ok" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

