<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1>Aller on attaque avec la partie revenu</h1>

        <%= simple_form_for current_user, :url => update_revenue_path, :method => :patch do |f| %>
          <%= f.input :status_pro  %>
          <%= f.input :statut_pro_conjoint %>
          <%= f.input :bank_account_nb %>
          <%= f.input :vehicle_nb  %>
          <%= f.input :property_nb  %>
          <%= f.submit "Ok" %>
        <% end %>
      </div>
    </div>
  </div>
</div>




