<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1>Aller on attaque avec la partie etat civil</h1>

        <%= simple_form_for current_user, :url => update_etat_civil_path, :method => :patch do |f| %>
          <%= f.input :first_name  %>
          <%= f.input :last_name  %>
          <%= f.input :gender  %>
          <%= f.input :child_nb %>
          <%= f.input :mariage_contract %>
          <%= f.input :contract_type %>
          <%= f.submit "Ok" %>
        <% end %>
      </div>
    </div>
  </div>
</div>












<div class="container">
<div class="wrapper">
 <p>Vous êtes?</p>
    <ul>
            <input type="radio" name="radio-btn" /> Un Homme </li>
            <input type="radio" name="radio-btn" /> Une Femme</li>
    </ul>
    <p>Voulez-vous un divorce à l’amiable?</p>
    <ul>
            <input type="radio" name="radio-btn" /> Oui </li>
            <input type="radio" name="radio-btn" /> NoøooooooooN</li>
    </ul>
    <p>Avez-vous des enfants?</p>
    <ul>
            <input type="radio" name="radio-btn" /> Ouuuuuuuuuuui </li>
            <input type="radio" name="radio-btn" /> Non</li>
    </ul>
    <p>Si oui Combien?</p>
    <ul>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
    </label>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
    </label>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
    </label>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 4
    </label>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 5
    </label>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 6
    </label>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 7
    </label>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 8
    </label>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 9
    </label>
    </ul>
</div>


Avez-vous des enfants en commun
Combien?
Avez-vous signe un contrat de mariage?
Sous quel Regime
